body, html {
  width: 100%;
}
.wrapper {
  max-width: 1350px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  width: 100%;
  .top-panel {
    width: 100%;
    border-bottom: solid 1px #263238;
    h1 {
      font-family: Ubuntu;
      color: #263238;
    }
  }
  nav {
    margin-top: 20px;
    width:100%;
    border: solid 1px #263238;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        display: inline-block;
        padding: 15px;
        a {
          box-sizing: border-box;
          font-size: 28px;
          text-decoration: none;
          color: grey;
          font-family: "Roboto Black";
        }
      }
    }
  }
}
.main-content {
  .main-window {
    margin: 20px 0;
    border: solid 1px #263238;
    display: flex;
    justify-content: space-between;
    .left-side {
      img {
        width: 300px;
      }
    }
  }
}