body,
html {
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1350px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
}
header .top-panel {
  width: 100%;
  border-bottom: solid 1px #263238;
  box-shadow: 4px 6px 16px -6px rgba(0, 0, 0, 0.75);
}
header .top-panel h1 {
  font-family: Ubuntu;
  color: #263238;
}
header nav {
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  border: solid 1px #666;
  box-shadow: 4px 6px 16px -6px rgba(0, 0, 0, 0.75);
}
header nav ul {
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}
header nav ul li a {
  box-sizing: border-box;
  font-size: 28px;
  text-decoration: none;
  color: #666;
  font-family: "Roboto Black";
  transition: all 300ms linear;
}
header nav ul li a:hover {
  color: #000;
}
.main-content .main-window {
  padding: 20px 15px;
  box-sizing: border-box;
  margin: 20px 0;
  border: solid 1px #666;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 6px 16px -6px rgba(0, 0, 0, 0.75);
}
.main-content .main-window .left-side img {
  width: 300px;
}
footer .footer-content {
  border-radius: 5px;
  border: solid 1px #666;
  box-shadow: 4px 6px 16px -6px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}
footer .footer-content .social-media,
footer .footer-content .app {
  display: inline-block;
}
footer .footer-content .app ul li {
  display: inline-block;
  margin: 0 10px;
}
footer .fa {
  font-size: 50px;
}
footer span {
  color: #1565C0;
  transition: all 300ms linear;
}
footer span:hover {
  color: #000;
}
